body,html,* {
    font-family: 'Inter', sans-serif !important;
    margin: 0px;
    padding: 0px;
    text-decoration: none !important;
    list-style: none;
    color: black;

}

/* Navbar */

.menu {
    display: flex;
    justify-content: flex-end;
    min-width: 375px;
    width: 375px;
    margin-left: 0;
    float: right;
    align-items: center;
  }
  .nav-link:hover {
    color: rgb(0, 137, 236);
  }
  
  .nav-help {
    display: block;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 136px;
  }
  
  .nav-help-title {
    margin-bottom: 1px;
    color: #717171;
    line-height: 14.5px;
    font-size: 12px;
  }
  
  .nav-help-phone {
    align-items: center;
    align-self: flex-end;
    display: flex;
    font-size: 16px;
    justify-content: right;
    line-height: 27px;
    text-align: right;
    pointer-events: none;
    color: #1d1e1e;
  }
  
  .nav-item {
    padding-left: 8px !important;
    padding-right: 8px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
  

  .sign-button {
    background-color: rgb(0, 137, 236);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 16px 24px !important;
    font-size: 14px;
    cursor: pointer;
    margin-left: 24px;
  }

  @media (max-width: 991.98px) {
    .modal-card {
      display: flex;
      top: 72px;
      right: 15px;
      left: 15px;
      float: none;
      width: calc(100% - 30px);
      padding: 12px 16px;
      border-radius: 16px;
    }
    .container-fluid {
      z-index: 9999;
    }
  
    .footer-infoBar-inner-container {
      flex-direction: column;
    }
  }
  
  .app-logo {
    display: flex;
    align-items: center;
  }
  .logo {
    display: flex;
    width: 26px;
    height: 27px;
    image-rendering: -webkit-optimize-contrast;
  }
  
  .logo-title {
    display: flex;
    width: 167px;
    height: 27px;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    image-rendering: -webkit-optimize-contrast;
  }
  
  @media (max-width: 1211px) {
    .logo-title {
      height: auto;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
      padding: 32px 24px;
      min-width: 300px;
      border: none;
      top: 52px;
      border-radius: 16px;
      box-shadow: 0 16px 32px 1px rgba(0, 0, 0, 0.16);
    }
  }
  
  .dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .dropdown-item:hover {
    border-radius: 6px;
    color: rgb(0, 137, 236);
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .mega-menu {
    width: 90vw;
    max-width: 617px;
    padding: 36px;
    background-color: #f5f7f9;
  }
  
  .mega-menu__title {
    display: block;
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: 600 !important;
  }
  
  .mega-menu__tileList {
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  
  .mega-menu-tile {
    position: relative;
    padding: 20px 12px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(34, 34, 34, 0.02);
  }
  
  .mega-menu-tile__head {
    --height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 16px;
  }
  
  .mega-menu-tile__title {
    display: block;
    font-size: 15px;
    font-weight: 600 !important;
  }
  
  .block-nav-link {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 8px;
    color: #515353;
    font-size: 16px;
    line-height: 22px;
    border-radius: 8px;
    cursor: pointer;
    justify-content: space-between;
  }
  .block-nav-link:hover {
    color: rgb(0, 137, 236);
  }
  
  .block-nav-link__icon {
    width: 15px;
    height: 15px;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
  }
  
  .block-nav-link:hover {
    color: rgb(0, 137, 236);
  }
  
  .block-nav-link:hover .block-nav-link__icon {
    visibility: visible;
    opacity: 1;
    color: rgb(0, 137, 236);
  }
  
/* Modal */

.modal-card {
    position: fixed;
    top: 84px;
    right: 16px;
    flex-direction: row;
    float: right;
    width: 336px;
    padding: 12px;
    display: flex;
    align-items: center;
    box-shadow: rgba(34, 34, 34, 0.08) 0px 4px 14px;
    cursor: pointer;
    background-origin: padding-box;
    border-radius: 16px;
    z-index: 9000;
    background-color: white;
    visibility: visible;
  }
  
  .modal-card-img {
    width: 44px;
    height: 45px;
    max-width: 100%;
  }
  
  .modal-card-span {
    margin-left: 8px;
    margin-right: 4px;
    color: rgb(29, 30, 30);
    display: block;
    font-size: 13px;
    line-height: 17px;
    font-weight: 500;
  }

/* Footer */
footer {
    font-size: 14px;
}


footer h6 {
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
}


footer a {
    color: #555;
    text-decoration: none;
}

footer a:hover {
    color: #007bff;
    text-decoration: underline;
}

footer .fab {
    color: #333;
    transition: 0.3s;
}

footer .fab:hover {
    color: #007bff;
}

footer .text-muted {
    font-size: 13px;
}

footer img {
    max-width: 100%;
}

ul.list-unstyled.li {
    margin-bottom: 20px !important;
}


/* header */
.site-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}

.site-card-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 1px;
}


/* Selection -  Policy */

.policy {
    max-width: 1170px;
    margin: auto;
  }
  
 .policy-title {
    text-align: center;
 }
  
  @media (min-width: 768px) {
    .section-policy{
      padding-top: 72px;
    }
  }
  .section-policy {
    padding-top: 36px;
    padding-bottom: 13px;
  }
  @media (min-width: 768px) {
    .section-policy {
      padding-top: 72px;
    }
  }
  
  @media (min-width: 768px) {
    .section-policy .policy-content {
      padding-top: 88px;
    }
  }
  
  .section-policy .policy-content {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
  }
  @media (min-width: 768px) {
    .section-policy .policy-content {
      padding-top: 88px;
    }
  }
  .section-policy .policy-ontent {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
  }
  
  .policy-content {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    grid-column-gap: 48px;
    align-content: space-between;
    justify-content: space-between;
    padding-top: 28px;
  }
  
  @media (min-width: 1200px) {
    .policy-Item {
      max-width: 330px;
    }
  }
  .policy-Item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-row-gap: 8px;
    align-items: center;
    text-align: center;
  }
  
  @media (min-width: 1200px) {
    .policy-Item {
      max-width: 330px;
    }
  }
  
 
/* Phone - container  */  

.phone-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
  }
  
  .phone-container-left-side {
    flex: 1;
    padding-right: 20px;
    overflow-y: auto;
    padding: 0 15px;
  }
  .phone-container-right-side {
    flex: 2;
    padding-left: 20px;
    position: sticky;
    top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .phone-container-right-side div {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
  }
  
  .phone-container-content-block {
    height: 100vh;
    border-radius: 8px;
    align-content: center;
    
  }
  
  .content-block-title {
    margin-top: 32px;
    margin-bottom: 8px;
    color: #1d1e1e;
    font-weight: 600 !important;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.32px;
    text-align: start;
  }
  
  .content-block-detail {
    color: #515353;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
  }
  
  .content-block-button {
    margin-top: 16px;
    font-size: 15px;
    line-height: 27px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 12px;
    color: #0089ec;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: -0.32px;
    cursor: pointer;
    font-weight: 600 !important;
    text-align: start;
    justify-content: flex-start;
  }
  
  /* special */

.special-title {
    display: block;
    margin: 0 auto 52px;
    font-size: 32px !important;
    line-height: 39px !important;
    letter-spacing: -0.02em !important;
    text-align: center;
    font-weight: 600 !important;
  }
  
  .tabs {
    -ms-flex-item-align: center;
    align-self: center;
    max-width: 100%;
    margin-bottom: 32px;
    padding-bottom: 52px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .tablist {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .tab {
    border-radius: 12px;
    font-weight: 500 !important;
    margin-right: 8px;
    padding: 7px 20px;
    font-size: 15px;
    line-height: 22px;
    user-select: none;
    color: #717171;
    height: inherit !important;
  }
  #selected-tab {
    color:  rgb(0, 137, 236);
    border: 1px solid  rgb(0, 137, 236);
  }
  
  .carousel {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 16px 32px 1px rgba(0, 0, 0, 0.16);
  }
  
  .carousel-slides {
    display: flex;
    transition: transform 0.5s ease;
    align-items: center;
    justify-content: space-between;
  }
  
  .slide {
    min-width: 100%;
    display: flex;
    box-sizing: border-box;
  }
  .info {
    margin-left: 10%;
  }
  
  .carousel-card-title {
    display: block;
    user-select: none;
    margin-bottom: 52px;
    color: #fff;
    font-size: 44px !important;
    line-height: 65px;
    letter-spacing: -0.01em;
    font-weight: 700 !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
    text-align: start;
    margin: auto;
  }
  
  .carousel-card-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
  }
  
  .slide img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  .box {
    width: 50%;
    background-color: #318fcc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #333;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  .prev {
    left: 0px;
    color: white;
  }
  .next {
    right: 0px;
    color:  rgb(0, 137, 236);
  }
  
/* Comment */

  .comment {
    background-color: #f9f9f9;
    padding: 144px 0;
  }
  
  .comment-list-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .comment-list-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .comment-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    padding: 32px;
    border: none;
  }
  
  .comment-card-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    line-height: 27px;
    text-align: start;
  }
  
  .font-weight-bold {
    font-weight: 700 !important;
  }
  
  .comment-card-name{
    font-size: 1.1rem;
    font-weight: bold;
    text-align: right;
    line-height: 24px;
    font-weight: 400 !important;
  }
  
  @media (max-width: 768px) {
    .comment-card {
      max-width: 100%;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .comment-card {
      max-width: 45%;
    }
  }
  
  @media (min-width: 1025px) {
    .comment-card {
      max-width: 30%;
    }
  }

  /* AWARD */

.award-card {
    margin: 0 50px;
    padding: 72px 0;
  }
  
  .award-content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .award-detail {
    text-align: start;
  }
  
  .award-title {
    color: #1d1e1e;
    font-size: 32px !important;
    line-height: 39px !important;
    letter-spacing: -0.64px !important;
    font-weight: 600 !important;
  }
  
  .award-button {
    color: #0089ec;
    font-weight: 700 !important;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: -0.32px;
    display: inline-flex;
    align-items: center;
  }
  
  .award-image {
    display: flex;
    flex-direction: row;
    gap: 52px;
    justify-content: flex-end;
    align-items: center;
    height: auto;
  }
  
  .award-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  @media (min-width: 775px) {
    .award-detail {
      flex: 1 1 50%;
      padding-right: 2rem;
    }
  
    .award-image {
      flex: 1 1 50%;
      padding-left: 2rem;
      justify-content: flex-end;
    }
  
    .award-image img {
      max-width: 80%;
      height: auto;
    }
  }
  
  @media (max-width: 774px) {
    .award-content {
      flex-direction: column;
    }
  
    .award-carousel__detail,
    .award-image {
      flex: 1 1 100%;
      padding: 1rem 0;
      text-align: center;
    }
  
    .award-image {
      justify-content: center;
      gap: 20px;
    }
  
    .award-image img {
      width: 80%;
      max-width: 200px;
      height: auto;
      margin-bottom: 16px;
    }
  
    .award-button {
      margin-top: 16px;
    }
  }
  
  /* Company Card */

.CompanyCard {
    background-color: #f5f7f9;
    padding: 100px 0;
  }
  
  .company-card-list-title {
    font-size: 28px;
    font-weight: 600 !important;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .company-card-list-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 52px auto 40px;
    max-width: 1020px;
  }
  
  .company-card-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 115px;
    margin: 10px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 12px;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .company-card-list-link img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    object-fit: contain;
    aspect-ratio: 106 / 50;
  }
  
  .company-card-list-link:hover {
    transform: scale(1.05);
  }
  
  .company-card-list-link:hover img {
    filter: grayscale(0%);
  }
  
  @media (max-width: 1200px) {
    .company-card-list-link {
      min-width: 100px;
      flex: 1 1 25%;
    }
  }
  
  @media (max-width: 992px) {
    .company-card-list-link {
      min-width: 100px;
      flex: 1 1 33.33%;
    }
  }
  
  @media (max-width: 768px) {
    .company-card-list-link {
      min-width: 100px;
      flex: 1 1 50%;
    }
  }
  
  @media (max-width: 576px) {
    .company-card-list-link {
      min-width: 100px;
      flex: 1 1 100%;
    }
  }

  /*SSS*/

.sss {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto; /* Tam ortalama */
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .sss-item {
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 36px;
    background-color: #ffffff;
    color: #1d1e1e;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .arrow {
    font-size: 18px;
    transition: transform 0.3s ease;
  }
  
  .answer {
    padding: 15px;
    background-color:  #ffffff;
    display: none;
    border-radius: 4px;
    margin-top: 5px;
    color: #515353;
    font-size: 16px;
    line-height: 24px;
  }
  
  /* category */

 
.home-page__categoryBranchList {
    background-color: var(--first-bgcolor);
    padding: 100px 0;
  }
  
  .category-branch-list__content {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-row-gap: 24px;
    row-gap: 24px;
  }
  
  .category-branch-list__contentTitle {
    font-size: 32px !important;
    line-height: 39px !important;
    font-weight: 700 !important;
  }
  
  .d-flex {
    display: flex !important;
  }
  
  .category-branch-list__cards {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 52px 4px;
    grid-column-gap: 25px;
    -webkit-column-gap: 25px;
    column-gap: 25px;
    grid-row-gap: 25px;
    row-gap: 25px;
  }
  
  .category-branch-list__cards .branch-card {
    width: 162px;
    height: 162px;
  }
  
  .branch-card {
    width: 200px;
    height: 200px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 12px;
  }
  
  .category-branch-list__cards .branch-card__inner {
    grid-row-gap: 22px;
    row-gap: 22px;
  }
  
  .branch-card__inner {
    position: relative;
    height: 100%;
    cursor: pointer;
    grid-row-gap: 16px;
    row-gap: 16px;
  }
  
  .branch-card__icon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
  }
  
  .branch-card__icon img {
    max-width: 150px;
    max-height: 110px;
  }
  
  .branch-card__title {
    font-size: 15px;
    font-weight: 600 !important;
    text-align: center;
  }
  